.info{
    width: 453px;
    height: 10%;
    background-color:#F4F3FE ;
    border-radius: 4px;
    border: 2px solid #7371EE;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.noLabelInfo{
    width: 453px;
    background-color:#F4F3FE ;
    border-radius: 4px;
    border: 2px solid #7371EE;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.error{
    width: 453px;
    height: 10%;
    background-color:#FFF5F5 ;
    border-radius: 4px;
    border: 2px solid #F93232;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.noLabelError{
    width: 453px;
    background-color:#FFF5F5 ;
    border-radius: 4px;
    border: 2px solid #F93232;
    display: flex;
    align-items:center;

    justify-content: space-around;
    margin-bottom: 10px;
}
.success{
    width: 453px;
    height: 10%;
    background-color:#F1FFF4 ;
    border-radius: 4px;
    border: 2px solid #439F6E;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}
.noLabelSuccess{
    width: 453px;
    background-color:#F1FFF4 ;
    border-radius: 4px;
    border: 2px solid #439F6E;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.ParentBox{
    margin-left: 4.3%;
    margin-top: 5%;
    width: 100vw;
    height: 100vh;
}
.iconContainer{
    padding-top: 3.5%;
    padding-left: 2%;
    width: 5%;
}
.noLabelIconContainer{
    width: 5%;
    padding-left: 2%;

}

.boldText{
    font-weight: bold;
    font-size: 18px;
}
.regularText{
    font-size: 16px;
    line-height: 0.8;
}
.exitImage{
    width: 15px;
}
// 6966ED F4F3FE